@import "bootstrap/scss/bootstrap";

html {
    position: relative;
    min-height: 100vh;
    font-size: 16px;
  }

body {
    min-height: 100vh;
    
    background: #d9d5c1;
    background: -moz-linear-gradient(top, #d9d5c1 29%, #d4b757 57%, #c4720c 100%);
    background: -webkit-linear-gradient(top, #d9d5c1 29%,#d4b757 57%,#c4720c 100%);
    background: linear-gradient(to bottom, #d9d5c1 29%,#d4b757 57%,#c4720c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d5c1', 
                                              endColorstr='#c4720c',GradientType=0 );
  }



.head-title {
    text-align: center;
    margin: 50px 0;
}

.create-project-btn {
    background-image: linear-gradient(#5184BD, #395F9B);
    border: solid 1px #315589;
    width: 12%;
    padding: 10px;
    color: #ffffff;
    margin: auto;
    text-align: center;
}

.sign_out-btn {
    background-image: linear-gradient(#5184BD, #395F9B);
    border: solid 1px #315589;
    width: 12%;
    color: #ffffff;
    text-align: center;  
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,.1);
    
}

.form-wrapper {
    width: 400px;
    background-color: #eaeaea;
    margin: auto;

    p {
    margin: 0;
    color: #fff;
    font-weight: bold;
    }
}

.titlenew {
    text-align: center;
    color: rgb(36, 36, 36);
    font-weight: bold;
}

.projecttitle {
    color: white;
    float: left;
    width: 400px;
    font-size: 20px;
    overflow-wrap: break-word;
}

::-webkit-scrollbar {
    display: none;
}

.tasktitle {
    text-align: left;
    color: #585858;
    font-weight: bold;
    font-size: x-large;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 18px;
    border-top: solid 0px #bbbbbb;
    border-bottom: solid 0px #bbbbbb;
    overflow: scroll;
}

.project-block {
    width: 700px;
    margin: auto;
    margin-bottom: 80px;
    background-color: #eaeaea;
}

.projectall {
    padding: 10px;
    background-image: linear-gradient(#5184BD, #395F9B);
    border: solid 1px #315589;
    margin: auto;
    width: 120%;
}

.taskall {
    background-color:#ffffff;
    margin: auto;
    width: auto;
    overflow-wrap: break-word;
    overflow: scroll;
}

.taskall:hover {
    background-color: rgb(252, 252, 181);
  }

.gly {
    color: #ffffff;
}

.project-block {
    width: 700px;
    margin: auto;
    margin-bottom: 80px;
    background-color: #eaeaea;
}

.container {
    margin: auto;
    background-color: #ffffff;
    width: auto;
    padding: 0%;
}

.row {
    width: auto;
    margin: auto;
}

.my-colred{
    border-right: solid 1px #ff0000;
}

.container-line{
    border: solid 1px #bbbbbb;
    box-shadow: opacity($color: #bbbbbb);
    height: 55px;
}

.taskicons{
    padding-top: 15px;
    border-left: solid 1px #bbbbbb;
    border-bottom: solid 0px #bbbbbb;
    border-top: solid 0px #bbbbbb;
    border-right: solid 0px #bbbbbb;
}

.checkbox {
    padding-top: 15px;
    text-align: center;
}

h5 {
    text-align: center;
    margin: 90px 0;
    color: white;
    font-size: 12px;
}

.btn {
    width: 400px;
    color: white;
    padding-right: 35px;
}

.btn-primary {
    width: 400px;
}

.btnall {
    width: 200px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    width: 190px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.usermail {
    text-align: right;
}

.completed {
    opacity: .3;
}

.loginbox {
    background-image: linear-gradient(#5184BD, #395F9B);
    border: solid 1px #315589;
    margin: auto;
    width: 400px;
    color:#eaeaea
}

.mainerror {
    text-align: left;
    font-size: small;
}

.mainerrors {
    text-align: left;
    font-size: small;
}

.taskdeadline {
    font-size: 10px;
}
